# Flow configuration
VITE_FLOW_NETWORK=testnet
VITE_FLOW_ACCESS_NODE=https://rest-testnet.onflow.org
VITE_FLOW_DISCOVERY_WALLET=https://fcl-discovery.onflow.org/testnet/authn

# Lit Protocol API layer
VITE_LIT_NETWORK=cayenne
VITE_LIT_CHAIN=ethereum
VITE_LIT_AUTH_SIG_JSON=

# Storacha/Filecoin API layer
VITE_STORACHA_TOKEN=
VITE_STORACHA_GATEWAY=https://w3s.link/ipfs
