# Flow configuration
VITE_FLOW_NETWORK=testnet
VITE_FLOW_ACCESS_NODE=https://rest-testnet.onflow.org
VITE_FLOW_DISCOVERY_WALLET=https://fcl-discovery.onflow.org/testnet/authn
# Get WalletConnect projectId from https://cloud.walletconnect.com
VITE_WALLETCONNECT_PROJECT_ID=2d572310c1368172122f4a0f79c828c8

# Lit Protocol API layer
VITE_LIT_NETWORK=cayenne
VITE_LIT_CHAIN=ethereum
VITE_LIT_AUTH_SIG_JSON=

# Storacha/Filecoin API layer
# Get token from https://console.web3.storage
VITE_STORACHA_TOKEN=z6MkuAC5t26MMMmJHRuMy8wsvnUMMeEe6yiCndLZ5W8roLeL
VITE_STORACHA_GATEWAY=https://w3s.link/ipfs
